body{
    margin:0 auto;
    padding:0;
    height: 100%;
}
html{
    height: 100%;
}
.algor-nav .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    padding: 0px;
}
.algor-nav
{
    width: 100%;
    background: #0d86c4;
    padding-top: 16px;
    padding-bottom: 10px;
    text-align: center;
    position: relative;
    position: fixed;
    z-index: 10000;
}
.algor-nav-item{
    color: #FFFFFF;
    width: 80px;
    height: 40px;
    font-size: 17px;
    margin-right: 25px;
}
.algor-nav .active{
    color: #FFFF00;
}
.algor-nav-item-title{
    position: absolute;
    left: 30px;
    top: 12px;
    width: auto;
    color: #FFFFFF;
    height:40px;
    font-size: 20px;
    cursor: pointer;
}
.list{
    position: absolute;
    top: 50px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 230px;
    background: #152633;
    color: #FFF;
    height: calc(100% - 50px);
    overflow: hidden;
}
.navigation{
    margin: 10px 20px 20px;
}

.content{
    margin-left: 230px;
}

.list-unstyled .actived{
    background: #436271;
}

.list-unstyled .actived .badge{
    background: #0055fd;
}
.userinfoRow{
    text-align: center;
     width: 100%;
    margin-left: 0px;
    cursor: pointer;
}
#headimg{
    width: 120px;
    height: 120px;
    margin-top:30px;
    border-radius: 50%;
}
#nickname{
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    max-width: 180px;
    margin: 6px auto;
}

.headerRow{
    margin-left: 0px;
    padding-left: 20px;
}
.divRow{
    margin-left: 0px;
    margin-right: 0px;
}
.questionPanel{
    margin: 18px auto 0px;
    width: 95%;
}
.panel-default>.panel-heading{
    background: #FFF;
    font-weight: bold;
    font-size: 1.5rem;
}

.questionTable tbody tr{
    cursor: pointer;
}

.progress{
    margin-bottom: 0px;
}
.resultDataDiv h4{
    text-align: left;
    padding-left: 10%;
}